/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
.date-section {
margin: 0 auto 15px auto;
padding: 10px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
box-shadow: 0 1px 2px rgba(0,0,0,0.5);
border: 1px solid rgba(255,255,255,0.2);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.07) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.07)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.07) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.07) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.07) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.07) 100%);
}

.infobox {
    position: relative;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    left: 0px;
    top: 0px;
    width: 256px;
    z-Index: 1000;
}

.infobox_close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
}

.infobox_content {
    margin: 5px;
    font-family: Arial;
    font-size: 11px;
    line-height: 22px;
}

.infobox_pointer {
    width: 33px;
    height: 38px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    left: 20px;
    top: -1px;
}

#kendodate {
    width:100%;
    display: inline-table;
}

/* ----------------------------------------------------------------
Featured Products
-----------------------------------------------------------------*/
.collectionProduct {display:inline-flex !important}
#featuredProducts {min-height:95px;height:auto;   background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);padding:40px 0 20px 33px;width:935px;margin-left:-10px;position:relative;}
#featuredProductsList {display:block;}

#bestSellersList {display:none;}

#featuredProductsNav {position:absolute;top:-22px;left:23px;}
#featuredProductsLink,
#bestSellersLink {cursor:pointer;border:0;outline:0;margin-right:1px;color:#474747;background:#cdcdcd;float:left;text-align:center;padding:0 11px;display:block;height:27px;line-height:27px;font-weight:700;font-size:12px;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.featuredProductsActive {background:url(/images/featureproducts.jpg) repeat 0 0 !important;color:#fff !important;}
#featuredProducts .collectionProduct header h2 {color:#fff;}
#featuredProducts .collectionProduct {margin-bottom:0;}
#featuredProducts .collectionProduct .collectionProductImageWrapper {-moz-box-shadow:0 0 3px #000;-webkit-box-shadow:0 0 3px #000;box-shadow:0 0 3px #000;}
