<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://topcarauto.shoppersparadisezim.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>calantha.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>topcarauto.shoppersparadisezim.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>topcarau_ezimcom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SeoWebAppEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="seoWebApplication.Data.SeoWebAppEntities, seoWebApplication.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="seowebappConnectionString1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\seowebappConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="seowebappConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\seowebappConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SeoWebAppConnString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SeoWebAppConnString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)seowebappConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)seowebappConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SeoWebAppConnString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SeoWebAppEntities-Web.config Connection String" />
  </ItemGroup>
</Project>