/*
Template Specific Styles
====================================================
Table of Contents:
Ctrl + F to find the @groups named below

@group Primary Menu
@group Secondary Menu

*/


/* @group Primary Menu */

#menu {
	font-size: 16px;
}

#menu ul, #menu ul li, #menu ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul {
	position: relative;
	z-index: 9997;
}

#menu ul li {
	float: left;
	zoom: 1;
	background-image: none;
}

#menu_wrap.below {
	float: right;
}

#menu ul li.hover, #menu ul li:hover {
	position: relative;
	z-index: 9999;
	cursor: default;
}

#menu ul li a {
	padding: 0px 20px;
	display: block;
	text-decoration: none;
	line-height: 58px;
}

#menu li span.title {
	font-weight: bold;
	display: block;
}

#menu li span.subtitle {
	font-weight: normal;
	display: block;
	padding: 0px;
	font-size: 10px;
	line-height: 8px;
	top: -16px;
	position: relative;
	font-family: helvetica,arial,san-serif;
}

/* @end */

/* @group Secondary Menu */

#navbar {
	width: 980px;
	margin: 0px auto;
	height: 62px;
	clear: both;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#navbar ul li.hover, #navbar ul li:hover {
	position: relative;
	z-index: 9999;
	cursor: default;
}

#navbar ul ul {
	visibility: hidden;
	position: absolute;
	top: 44px;
	min-width: 200px;
	left: -20px;
	z-index: 9998;
	width: auto;
	text-transform: capitalize;
	font-size: 13px;
	padding: 0px 0px 5px 0px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

#navbar ul,#navbar li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbar ul {
	margin-left: 20px;
	position: relative;
	z-index: 9997;
}

#navbar li {
	margin: 0;
	float: left;
	zoom: 1;
	background-image: none;
}

#navbar li a {
	text-decoration: none;
	display: block;
	position: relative;
	line-height: 44px;
}

#navbar ul ul a {
	padding: 0px 5px 0px 8px;
	height: 28px;
	line-height: 28px;
	border-radius: 0;
	min-width: 200px;
}

#navbar ul ul li {
	float: none;
	white-space: nowrap;
	margin: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
}

#navbar ul ul ul {
	top: -5px;
	left: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#navbar ul li:hover > ul {
	visibility: visible;
}

/* @end */

