<div id="featuredProducts">
    <nav id="featuredProductsNav">

        <a href="#" id="featuredProductsLink" class="featuredProductsActive">Featured</a>


        <a href="#" id="bestSellersLink" class="">Best Sellers</a>

    </nav><!-- featuredProductsNav -->

    <div id="featuredProductsList" class="group" style="display: block;">

        <article class="collectionProduct productOne" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/5w-folding-usb-solar-cell" title="View 5W Folding USB Solar Cell">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/MG_2112_large.jpg?v=1383108900" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">5W Folding USB Solar Cell</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productTwo" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/solar-usb-kit-2-0" title="View Solar USB Kit 2.0">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/usbv25_large.jpg?v=1383099490" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">Solar USB Kit 2.0</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productThree" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/dual-usb-charging-circuit" title="View Dual USB Charging Circuit">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/dualusbchargingcircuit1_large.jpg?v=1383107968" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">Dual USB Charging Circuit</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productFour" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/solar-bug-kit-2-pack" title="View Solar Bug Kit - 2 Pack">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/solarbug1_large.jpg?v=1383105964" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">Solar Bug Kit - 2 Pack</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

    </div><!-- featuredProductsList -->


    <div id="bestSellersList" class="group" style="display: none;">

        <article class="collectionProduct productOne" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/worlds-smallest-solar-car" title="View World's Smallest Solar Car">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/solarcar1_large.jpg?v=1356929096" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">World's Smallest Solar Car</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productTwo" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/bristlebot-kit" title="View Bristlebot Kit">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/bristlebot1_large.jpg?v=1358715677" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">Bristlebot Kit</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productThree" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/4-5v-80ma-cis-solar-cell" title="View 4.5V 80mA CIS Solar Cell">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/4.5vciscell1_large.jpg?v=1358716292" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">4.5V 80mA CIS Solar Cell</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

        <article class="collectionProduct productFour" itemscope="" itemtype="http://schema.org/Product">
            <a href="/products/5-5v-320ma-solar-cell" title="View 5.5v 320mA Solar Cell">
                <div class="collectionProductImageWrapper">
                    <img itemprop="image" src="/products/5.5v320masolarcell1_large.jpg?v=1358740596" alt="">
                </div><!-- collectionProductImageWrapper -->
                <header>
                    <h2 itemprop="name">5.5v 320mA Solar Cell</h2>
                    <div class="group">

                    </div><!-- group -->
                </header>
            </a>
        </article><!-- collectionProductFeatured -->

    </div><!-- bestSellersList -->

</div>
