<!-- Navigation with sub menu. Please note down the syntax before you need. Each and every link is important. -->


<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages #1 <b class="caret"></b></a>
    <!-- Submenus -->
    <ul class="dropdown-menu">
        <li><a href="support.html">Support</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Service #1</a></li>
        <li><a href="service1.html">Service #2</a></li>
        <li><a href="pricing.html">Pricing Table</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="team.html">Team</a></li>
    </ul>
</li>
