<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="SeoWebAppConnString" connectionString="Data Source=localhost;Initial Catalog=seowebapp;Persist Security Info=True;User ID=sa;Password=sa;"
     providerName="" />
    <add name="seowebappConnectionString" connectionString="Data Source=localhost;Initial Catalog=seowebapp;Persist Security Info=True;User ID=sa;Password=sa"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>