<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ComputerBeacon.Facebook" version="4.0.427" targetFramework="net35" />
  <package id="ComputerBeacon.Json" version="4.0.507" targetFramework="net35" />
  <package id="Facebook" version="6.1.4" targetFramework="net35" />
  <package id="FbConnectAuth" version="0.9" targetFramework="net35" />
</packages>