<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="seoWebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections> 
  <appSettings>
    <add key="PaypalUrl" value="https://www.paypal.com/xclick" />
    <add key="PaypalEmail" value="balloon@example.com" />
    <add key="PaypalCurrency" value="USD" />
    <add key="PaypalReturnUrl" value="http://www.example.com" />
    <add key="PaypalCancelUrl" value="http://www.example.com" />
    <add key="version" value="1.0.0.0" />
    <add key="MailServer" value="localhost" />
    <add key="MailUsername" value="info" />
    <add key="MailPassword" value="2262" />
    <add key="MailFrom" value="admin@shoppersparadisezim.com" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="errors@shoppersparadisezim.com" />
    <add key="ProductsPerPage" value="8" />
    <add key="ProductDescriptionLength" value="60" />
    <add key="SiteName" value="Squiggles" />
    <add key="CartPersistDays" value="10" />
    <add key="idSeoWebstore" value="10" />
    <add key="CustomerServiceEmail" value="customersupport@shoppersparadisezim.com" />
    <add key="OrderProcessorEmail" value="orderprocessor@shoppersparadisezim.com" />
    <add key="SupplierEmail" value="supplier@shoppersparadisezim.com" />
    <add key="version" value="1.0" />
  </appSettings>
  <connectionStrings>

    <!--<add name="SeoWebAppEntities" connectionString="metadata=res://*/SeoWebAppModel.csdl|res://*/SeoWebAppModel.ssdl|res://*/SeoWebAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seoshop.com;initial catalog=seoshop;persist security info=True;user id=admin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SeoWebAppConnString" connectionString="Data Source=seoshop.com;Initial Catalog=seoshop;Persist Security Info=True;User ID=admin;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="seowebappConnectionString" connectionString="Data Source=seoshop.com;Initial Catalog=seoshop;Persist Security Info=True;User ID=admin;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="seowebappConnectionString1" connectionString="Data Source=seoshop.com;Initial Catalog=seoshop;Persist Security Info=True;User ID=admin;Password=123456;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<location path="AdminProductDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!-- Only administrators are allowed to access AdminShoppingCart.aspx -->
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <!-- Only existing customers can access CustomerDetails.aspx -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <customErrors mode="Off" defaultRedirect="~/Oops.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
      <error statusCode="500" redirect="~/Oops.aspx" />
    </customErrors>
    <pages theme="SeoWebAppDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Forms">
      <forms loginUrl="Login.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>-->
     
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules> 
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="Default.aspx" />
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.pl" />
        <add value="default.html" />
        <add value="Default.cshtml" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="categoryUrlId" enabled="true" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?idCategory={R:1}" />
        </rule>
        <rule name="catdeptpage" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?.*.page=([0-9]+)?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/category.aspx?category_id={R:1}&amp;amp;page={R:2}" />
        </rule>
        <rule name="productUrl" enabled="true" stopProcessing="true">
          <match url="^(http://.*.+)/([^/]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?url={R:2}" />
        </rule>
        <rule name="product2" stopProcessing="true">
          <match url="^.*-p([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?product_id={R:1}" />
        </rule>
        <rule name="product" stopProcessing="true">
          <match url="p-([0-9]+)-*.*.html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?idProduct={R:1}" />
        </rule>
        <rule name="productpage" stopProcessing="true">
          <match url="p-([0-9]+)-*.*.html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?idProduct={R:1}" />
        </rule>
        <rule name="admin parent pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}" />
        </rule>
        <rule name="admin sub menu pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+)-.*-ac([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}&amp;SubMenuItemId={R:2}" />
        </rule>
        <rule name="department pages" stopProcessing="true">
          <match url="^.*-d([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}" />
        </rule>
        <rule name="department sub pages" stopProcessing="true">
          <match url="^.*-d([0-9]+)-page-([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;Page={R:2}" />
        </rule>
        <rule name="catdept" stopProcessing="true">
          <match url="^.*-d([0-9]+)-.*-c([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;amp;category_id={R:2}" />
        </rule>
        <rule name="catdept sub pages 2" stopProcessing="true">
          <match url="^.*-d([0-9]+)-.*-c([0-9]+)-page-([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;amp;category_id={R:2}&amp;Page={R:2}" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="seoWebApplication.webservices.showproductsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="seoWebApplication.webservices.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="seoWebApplication.webservices.showproductsBehavior" name="seoWebApplication.webservices.showproducts">
        <endpoint address="" binding="wsHttpBinding" contract="seoWebApplication.webservices.Ishowproducts">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="seoWebApplication.webservices.Service1Behavior" name="seoWebApplication.webservices.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="seoWebApplication.webservices.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <seoWebApplication.Properties.Settings>
      <setting name="seoWebApplication_com_shade4sale_Mini_x0020_Passport" serializeAs="String">
        <value>http://shade4sale.com/webservices/authenticateUser.asmx</value>
      </setting>
    </seoWebApplication.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>