<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="/Admin/">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-gift"></i>
							<span>Catalog</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">  
                            <li>
                                <a href="/Product">Products</a>
                                <a href="/Department/Webstores/">Departments</a>
                                <a href="/Category/Webstores/">Categories</a> 
                            </li>
                           
						</ul> 				
					</li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-edit"></i>
                            <span>Companies</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/CategoryType/">Category Type</a> 
                                <a href="/webstorecategory/">Assign Webstore Category</a> 
                                <a href="/Webstore/">Companies</a> 
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-time"></i>
                            <span>Hours</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/process/payroll">Process Payroll</a></li>
                            @*	<li><a href="./faq.html">Power</a></li>
                <li><a href="./gallery.html">Misc</a></li> *@
                        </ul>
                    </li>
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-cog"></i>
							<span>Security</span>
							<b class="caret"></b>
						</a>
					<ul class="dropdown-menu">
                        <li><a href="/UserAccount/">UserAccount</a></li>                
						</ul> 				
					</li> 

                    	<li class="dropdown">					
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <i class="icon-wrench"></i>
                                <span>Setup</span>
                                <b class="caret"></b>
                            </a>	
					
						 <ul class="dropdown-menu">
                            <li><a href="/State/">State</a></li> 
                            <li><a href="/City/">City</a></li> 
                       
                 		</ul>    				
					</li>

                    	<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-signal"></i>
							<span>Reports</span>
							<b class="caret"></b>
						</a>	
					
						@*<ul class="dropdown-menu"> 
                            <li>
                            <a href="/Alerts">Alerts</a>
                            </li> 
						</ul> *@   				
					</li>
				
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->